<!DOCTYPE html>
<html lang="en">
  <head>
    {% if title %}
    <title>{{ title }} - microblog</title>
    {% else %}
    <title>microblog</title>
    {% endif %}
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/moment.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
    <div class="navbar">
        <div class="navbar-inner">
        <a class="brand" href="#">Microblog</a>
        <ul class="nav">
            <li class="active"><a class="active" href="{{ url_for('index') }}">Home</a></li>
            {% if g.user.is_authenticated %}
            <li class="active"><a href="{{ url_for('user', nickname=g.user.nickname) }}">Your Profile</a></li>
            <form style="display: inline;" action="{{ url_for('search') }}" method="post" name="search">
                {{ g.search_form.hidden_tag() }}{{ g.search_form.search(size=20) }}
                <input type="submit" value="Search" />
            </form>
            <li class="active"><a href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
        </ul>
        </div>
    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
    </div>
  </body>
</html>
