{% extends "base.html" %}

{% block content %}
    <form action="" method="post" name="edit">
        <fieldset>
        <legend>Edit your profile</legend>
        {{form.hidden_tag()}}
        <table>
            <tr>
                <td>Your nickname:</td>
                <td>
                    {{ form.nickname(size=24) }}
                    {% for error in form.errors.nickname %}
                    <br /><span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>About yourself:</td>
                <td>{{ form.about_me(cols=32, rows=4) }}</td>
            </tr>
            <tr>
                <td></td>
                <td><input class="btn" type="submit" value="Save Changes" /></td>
            </tr>
        </table>
        </fieldset>
    </form>
{% endblock %}







