{% extends "base.html" %}

{% block content %}
  <form action="" method="POST" name="post">
      <legend>Hi, {{ g.user.nickname }}!</legend>
      {{ form.hidden_tag() }}
      <table>
          <tr>
              <td>Say something:</td>
              <td>{{ form.post(size=30, maxlength=140) }}</td>
              <td>
              {% for error in form.post.errors %}
                <span style="color: red;">[{{ error }}]</span><br>
              {% endfor %}
              </td>
              <td><input class="btn" type="submit" value="Post!"></td>
          </tr>
      </table>
  </form>
  {% include 'upload.html' %}
  {% for post in posts.items %}
    {% include 'post.html' %}
  {% endfor %}
  <div class="pagination">
      <ul>
          <li>{% if posts.has_prev %}<a href="{{ url_for('index', page=posts.prev_num) }}">&lt;&lt; Newer posts</a>{% endif %}</li>
          <li>{% if posts.has_next %}<a href="{{ url_for('index', page=posts.next_num) }}">Older posts &gt;&gt;</a>{% endif %}</li>
      </ul>
  </div>
{% endblock %}