{% extends "base.html" %}

{% block content %}
<script type="text/javascript">
function set_openid(openid, pr)
{
    u = openid.search('<username>')
    if (u != -1) {
        user = prompt('Enter your ' + pr + ' username:')
        openid = openid.substr(0, u) + user // remove string '<username>' and add user
    }
    form = document.forms['login'];
    form.elements['openid'].value = openid
}
</script>
<form action="" method="post" name="login">
    <fieldset>
    <legend>Sign In</legend>
    {{ form.hidden_tag() }}
    <p>
        <label>Please enter your OpenID, or select one of the providers below:</label><br>
        {{ form.openid(size=80) }}
        {% for error in form.openid.errors %}
            <div class="alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <span style="color: red;">[ {{error}} ]</span>
            </div>
        {% endfor %}<br>
        |{% for pr in providers %}
          <a href="javascript:set_openid('{{ pr.url }}', '{{ pr.name }}');">{{ pr.name }}</a> |
        {% endfor %}
    </p>
    <lable class="checkbox">
        <p>{{ form.remember_me }} Remember Me</p>
    </lable>
    <p><input type="submit" class="btn" value="Sign In"></p>
    </fieldset>
</form>
{% endblock %}
