<table>
    <tr valign="top">
        <td><img src="{{ post.author.avatar(50) }}"></td>
        <td>
            <p><a href="{{ url_for('user', nickname=post.author.nickname) }}">{{ post.author.nickname }}</a> said 
            {{ momentjs(post.timestamp).fromNow() }}:</p>
            <p>{{ post.body }}
                {% if post.author.id == g.user.id %}&nbsp;&nbsp;
                    <a href="{{ url_for('delete', id=post.id) }}"><span style="font-size:12px;">{{ ('Delete') }}</span></a>
                {% endif %}
            </p>
        </td>
    </tr>
</table>