<table>
    <tr>
        <td>
            <form action="http://localhost:5000/uploader" method="POST" enctype="multipart/form-data">
                <fieldset>
                    <input type="file" name="file" />
                    <input type="submit" class="btn" value="Upload" />
                </fieldset>
            </form>
        </td>
    </tr>
</table>